.c-options {
    position: relative;
    background: var(--light-gray);
    overflow: hidden;

    &__bg-img {
        width: 731px;
        height: 855px;
        position: absolute;
        bottom: 0;
        right: 0;
        
        @media (min-width: 768px) { 
            right: -400px;
        }

        @media (min-width: 1200px) { 
            right: -250px;
        }

        @media (min-width: 1564px) { 
            right: 0;
        }

    }

    &__intro {
        padding-bottom: var(--padding);
    }
    &__terms {
        margin: calc(var(--padding) / 2) 0;
        font-size: 15px;
        line-height: 20px;
    }
    &__small {
        margin: 0;
        font-size: 13px;
        line-height: 20px;
    }
}
