.c-options {
    position: relative;
    background: var(--light-gray);

    &__bg-img {
        width: 731px;
        height: 855px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__intro {
        padding-bottom: var(--padding);
    }
    &__terms {
        margin: calc(var(--padding) / 2) 0;
        font-size: 15px;
    }
    &__small {
        margin: 0;
        font-size: 13px;
    }
}
