.c-slider {
  position: relative;
  width: 100%;
  background-color: var(--blue-2);
  padding-bottom: 30px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 1025px) {
    padding-bottom: 100px;
  }

  &__carousel {
    padding-bottom: 50px;
    z-index: 5;

    &.owl-carousel .owl-item {
      --slideOffset: 40px;
      top: 0;
      padding-bottom: var(--slideOffset);
      transition: 0.5s all ease-in-out;
    }

    &.owl-carousel .owl-item.active.center {
      .c-slider__slide--rotateXs,
      .c-slider__slide--rotateSm,
      .c-slider__slide--rotateMd,
      .c-slider__slide--rotateLg {
        transform: rotate(1deg);
      }
      top: var(--slideOffset);
    }
  }

  &__slide {
    margin: 30px 0;
    transition: 0.5s all ease-in-out;

    @media (min-width: 768px) {
      margin: 50px 0;
    }

    &--rotateXs {
      transform: rotate(-4deg);
    }

    &--rotateSm {
      transform: rotate(-2deg);
    }

    &--rotateMd {
      transform: rotate(4deg);
    }

    &--rotateLg {
      transform: rotate(5deg);
    }
  }

  &__slideImage {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  h1.c-slider__slideTitle {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 20px 0 0 !important;
    padding: 0 !important;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      margin: 30px 0 0 !important;
    }
  }

  &__link {
    &:hover,
    &:focus {
      text-decoration: none;
      .c-slider__slide {
        margin-top: 20px;

        @media (min-width: 768px) {
          margin-top: 40px;
        }
      }
    }
  }
}
