.c-blockTitle {

  text-align: center;

  &--mobileMT {
    margin-top: 60px;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  &--mB {
    margin-bottom: 90px;
  }

  &--pLarge {
    padding: 100px 0 50px;

    @media (min-width: 768px) {
      padding: 150px 0 100px;
    }

    @media (min-width: 1025px) {
      padding: 200px 0 120px;
    }
  }

  &--alignLeft {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__wrap {
    margin-bottom: 20px;
    transform: rotate(-1deg);

    &--rotateSm {
      transform: rotate(0.4deg);
    }

    &--rotateMd {
      transform: rotate(-0.85deg);
    }

    &--rotateLg {
      transform: rotate(-1.7deg);
    }

    &--rotateXl {
      transform: rotate(-2.24deg);
      margin-left: 30px;
    }
  }

  &__cornerTop {
    position: relative;

    &::before {
      content: url(https://motorpoint.rawills.co.uk/images/campaign/top-corner.svg);
      position: absolute;
      top: -10px;
      left: -10px;
      width: 30px;

      @media (min-width: 768px) {
        top: -30px;
        left: -20px;
        width: 60px;
      }

      @media (min-width: 1025px) {
        top: -50px;
      }
    }

    &--xs {
      &::before {
        top: -15px;
        right: -15px;
        left: unset;
        width: 35px;
        transform: rotate(90deg);

        @media (min-width: 768px) {
          top: -25px;
          right: -30px;
          width: 60px;
        }
      }
    }
  }

  &__cornerBottom {
    position: relative;

    &::after {
      content: url(https://motorpoint.rawills.co.uk/images/campaign/bottom-corner.svg);
      position: absolute;
      bottom: -15px;
      right: -10px;
      width: 20px;

      @media (min-width: 768px) {
        bottom: -30px;
        right: -20px;
        width: 45px;
      }
    }
    
    &--xs {
      &::after {
        bottom: -15px;
        right: unset;
        left: -10px;
        width: 25px;
        transform: rotate(90deg);

        @media (min-width: 768px) {
          bottom: -35px;
          right: unset;
          left: -25px;
          width: 50px;
        }
      }
    }
  }

  &__headline {
    display: inline;
    padding: 15px 20px;
    background-color: #FFC82E;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

    @media (min-width: 350px) {
      font-size: 22px;
    }

    @media (min-width: 768px) {
      font-size: 45px;
      padding: 20px 40px;
    }

    @media (min-width: 1025px) {
      font-size: 60px;
    }

    &--pLarge {
      @media (min-width: 768px) {
        padding: 20px 25px;
      }
    }

    &--xs {
      font-size: 18px;

      @media (min-width: 350px) {
        font-size: 22px;
      }

      @media (min-width: 768px) {
        font-size: 40px;
      }
  
      @media (min-width: 1025px) {
        font-size: 45px;
      }
    }

    &--md {
      font-size: 22px;

      @media (min-width: 350px) {
        font-size: 26px;
      }

      @media (min-width: 768px) {
        font-size: 50px;
      }
  
      @media (min-width: 1025px) {
        font-size: 60px;
      }
    }
  }
}
