.c-list {

    &--inline.unstyled {
        list-style: none;
        padding: 0;
        padding-top: var(--padding);
        text-align: center;
        margin-left: 0;

        @media (min-width: 768px) {
            text-align: left;
        }
    }

    &--last-pb0 {
        margin-bottom: 0;
        .c-list__item:last-child {
            padding-bottom: 0;
        }
    }

    &__item {
        padding-bottom: var(--padding-xs);
        list-style: none;
        position: relative;
        padding-left: 40px;

        &::before {
            content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 25px;
			height: 25px;
            background-image: url(../images/icons-tick-green.png); 
            background-image: url(../images/icons-tick-green.svg); 
        }

        &--inline {
            display: inline-block;
            padding: 0 20px;
            margin-bottom: 10px;

            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 0;
                &:first-child {
                    padding-left: 0;
                }
            }

            &:nth-child(even) {
                border-left: 2px solid #fff;
                
                @media (min-width: 768px) {
                    border-right: 2px solid #fff;
                }

                @media (min-width: 1025px) {
                    border-left: 4px solid #fff;
                    border-right: 4px solid #fff;
                }
            }

            &::before {
                content: "";
                display: none; 
            }
        }
    }

    &__a {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        transition: all 0.3s;

        &:hover {
            text-decoration: none;
            color: var(--light-gray);
            outline: none;
        }
        &:focus {
            color: var(--light-gray);
            outline: none;
        }

        @media (min-width: 1025px) {
            font-size: 22px;
            line-height: 22px;
        }
    }
}

.c-list.unstyled {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: var(--padding-xs);
}