.c-list {
    padding-left: 0;
    margin-left: 0;

    &--inline {
        list-style: none;
        padding: 0;
    }

    &__item {
        padding-bottom: var(--padding-xs);
        list-style: none;
        position: relative;
        padding-left: 40px;
        &:last-child {
            padding-bottom: 0;
        }
        &::before {
            content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 25px;
			height: 25px;
            background-image: url(../images/icons-tick-green.svg); 
        }
        &--inline {
            display: inline-block;
            padding-left: 0;
            padding-right: 40px;
            &::before {
                content: "";
                display: none; 
            }
        }
    }

    &__a {
        color: #fff;
    }
}
