.generic-page.page-content.main-container {
    max-width: 100% !important;
}

.container {

    max-width: 1368px;

    &--lg {
        @media (min-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.section {
    padding: var(--padding) 0;
}

.section--lg {
    padding: calc(var(--padding) * 2) 0;
}