.c-img-text {
    
    overflow: hidden;

    @media (max-width: 768px) {
        &__no-gutter {
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        padding: var(--offset) 0;
    }

    &__text {
        padding: 40px var(--padding-xs);
        background-color: var(--off-white);
    }

    @media (max-width: 760px) {
        &__img-container {
            padding: 0;
        }
    }
    

    &__img {

        @media (min-width: 768px) {
            &::before {
                content: '';
                position: absolute;
                height: calc(100% + var(--offset) * 2);
                width: 100vw;
                background: var(--off-white);
                z-index: -1;
                top: calc(0px - var(--offset) );
                right: var(--offset);
            }

            &--right {
                &::before {
                    content: '';
                    position: absolute;
                    height: calc(100% + var(--offset) * 2);
                    width: 100vw;
                    background: var(--off-white);
                    z-index: -1;
                    top: calc(0px - var(--offset) );
                    left: var(--offset);
                    right: 0;
                }
            }
        }
    }
}
