.c-img-text {
    
    overflow: hidden;

    @media (max-width: 768px) {
        &__no-gutter {
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        padding: var(--offset) 0;
    }

    &__text {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: var(--off-white);

        @media (min-width: 768px) {
            padding-top: 0;
            padding-bottom: 0;

            padding-right: var(--padding-sm);

            &--right {
                
                padding-left: var(--padding-sm);
            }
        }

        @media (min-width: 1025px) {

            padding-right: calc(var(--padding-xs) * 3);

            &--right {
                padding-right: 0;
                padding-left: calc(var(--padding-xs) * 3);
            }
        }
        
    }

    @media (max-width: 760px) {
        &__img-container {
            padding: 0;
        }
    }

    
    &__title-container {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }

    }

    &__title-icon {
        margin-bottom: var(--padding-xs);
        @media (min-width: 768px) {
            margin-right: var(--padding-xs);
            margin-bottom: 0;
        }
    }

    &__black-horse {
        width: 222px;
        height: 45px;
        @media (min-width: 1025px) {
            width: 276px;
            height: 56px;
        }
    }
    

    &__img {

        @media (min-width: 768px) {
            &::before {
                content: '';
                position: absolute;
                height: calc(100% + var(--offset) * 4);
                width: 100vw;
                background: var(--off-white);
                z-index: -1;
                top: calc(0px - var(--offset) * 2);
                right: calc(var(--offset) * 1.5) ;
            }

            &--right {
                &::before {
                    left: calc(var(--offset) * 1.5);
                    right: 0;
                }
            }
        }
        @media (min-width: 1025px) {
            &::before {
                height: calc(100% + var(--offset) * 2);
            }
        }
    }
}

