.c-button {
    padding: 13px var(--padding-sm);
    font-weight: bold;
    color: var(--gray);
    transition: 0.3s all;
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &--red {
        background-color: var(--red);
        color: #fff;
        &:hover, &:focus {
            filter: brightness(110%);
        }
    }
    &--white {
        width: 100%;
        margin-bottom: var(--padding-xs);
        background-color: #fff;
        text-align: center;
        padding: 13px 0;
        font-weight: normal;
        &:hover, &:focus {
            filter: brightness(90%);
        }
    } 
}

a .c-button:focus {
    outline: none;
}