:root {
    --offset: 75px;
    --padding-xs: 20px;
    --padding-sm: 35px;
    --padding: 40px;
    --padding-xl: 70px;

    @media (min-width: 1025px) {
        --padding: 70px;
    }

    --red: #eb3c32;
    --orange: #e84910;
    --blue: #004996;
    --dark-blue: #253858;
    --off-white: #f5f7f8;
    --green: #0cb4bd;
    --light-gray: #e3e9ec;
    --gray: #111c2e;
}


// /* Small devices (landscape phones, 576px and up) */
// @media (min-width: 576px) {  
 
// }
 
// /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
// @media (min-width: 768px) {  
 
// }
 
// /* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) { 
 
// }
 
// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {  
    
// }