.c-qa {
    &__accordion {
        margin: var(--padding-sm) 0;
        width: 100%;
        @media (min-width: 768px) {
            margin: var(--padding) 0  var(--padding-sm);
        }
    }

    &__card {
        background: none;
        border: 2px solid #fff;
    }

    &__card-header {
        background-color: none;
        border: none;
        border-radius: 4px;
        padding: 0;
        width: 100%;
    }

    &__card-body {
        background-color: #F7F9FC;
        border: none;
        p {
            margin-bottom: 0;
        }
    }

    &__padding {
        padding: 25px 35px;
        &--t0 {
            padding-top: 0;
        }
    }

    &__btn {
        width: 100%;
        text-align: left;
        background-color: #F7F9FC;
        color: var(--dark-blue);
        font-weight: bold;
        font-size: 20px;
        transition: 0.3s all;
        border: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover, &:focus {
            text-decoration: none;
            color: var(--dark-blue);
            border: none;
            outline: none;
        }
        &:hover {
            background-color: #F7F9FC;
        }
        @media (min-width: 768px) {
            font-size: 25px;
        }
    }

    &__title {
        width: 80%;
    }

    &__open {
        position: relative;
    }

    &__line {
        width: 14px;
        height: 2px;
        background-color: #646e87;
        &::before {
            content: '';
            width: 14px;
            height: 2px;
            transform: rotate(0deg);
            background-color: #646e87;
            position: absolute;
            top: 0;
            transition: 0.2s all;
        }
    }

    .collapsed {
        background-color: #e1eaf4;
        &:hover {
            background-color: inherit;
        }
        .c-qa__line {
            &::before {
                transform: rotate(90deg);
            }
        }
    }
}